body {
    margin: 0;
}

.ContainerTitle{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PokeLogo {
    height: 70px;
    margin-bottom: 25px;
    margin-top: 5px;
    
}

.App {
    display: flex;
    justify-content: center;
}

