body {
    margin: 0;
    padding-left: 20px;

}

.ContainerTitle{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PokeLogo {
    height: 70px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.App {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* ESTILOS DE LA CARTA */
.Container {
    margin: 10px;
    padding-bottom: 30px;
    /* border: solid 1px rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vh;
    padding-top: 10px;
}

.ContainerFT {
    border: solid 1px rgb(133, 133, 133);
    border-radius: 15px;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 45px;
    flex-direction: column;
} 


.Button {
    padding: 8px 18px;
    border-radius: 20px;
    border: solid 1px;
}

.Button:hover {
    background: rgb(20, 115, 165);
    cursor: pointer;
    border: white;
    color: white;
}

.PokeImg {
    height: 140px;
}

